version: '3.9'

services:
  catalog:
    container_name: catalog
    image: 'catalog_ms'
    build: 
      context: /server/catalog/
    ports:
      - "8081:8080"
    depends_on:
      - catalog-db
    
  inventory:
    container_name: inventory
    image: 'inventory_ms'
    build: 
      context: /server/inventory/
    ports:
      - "8082:8080"
    depends_on:
      - inventory-db
      

  product:
    container_name: product
    image: 'product_ms'
    build: 
      context: /server/product/
    ports:
      - "8083:8080"
    depends_on:
      - product-db
    environment:
      DATABASE_URL: postgresql://product-db:5432/product-db
      DATABASE_USER: leona
      DATABASE_PASSWORD: leona
   

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
        - "5672:5672"
        - "15672:15672"
    volumes:
        - ./server/rabbitmq/data/:/var/lib/rabbitmq/
        - ./server/rabbitmq/log/:/var/log/rabbitmq
    
  
  catalog-db:
    container_name: catalog-db
    image: postgres:latest
    environment:
      POSTGRES_USER: leona
      POSTGRES_PASSWORD: leona
      POSTGRES_DB: catalog-db
    ports:
      - "15433:5432"
    volumes:
      - ./server/catalog/data:/var/lib/postgresql
    
  
  inventory-db:
    container_name: inventory-db
    image: postgres:latest
    environment:
      POSTGRES_USER: leona
      POSTGRES_PASSWORD: leona
      POSTGRES_DB: inventory-db
    ports:
      - "15434:5432"
    volumes:
      - /Users/leona/projetos/msecommerce/server/inventory/data:/var/lib/postgresql
   
  
  product-db: 
    container_name: product-db
    image: postgres:latest
    environment:
      POSTGRES_USER: leona
      POSTGRES_PASSWORD: leona
      POSTGRES_DB: product-db
    ports:
      - "15435:5432"
    volumes:
      - ./server/product/data:/var/lib/postgresql
   

